*.EXE
*.OBJ
*.LST
*.obj
*.lst
*.map
*.exe
*.OBJ
*.MAP
32RTM.EXE
A.LIB
COMPLINK.EXE
DPMI16BI.OVL
DPMI32VM.OVL
Dpmiload.exe
Dpmimem.dll
edit.com
SUDOKU.BAK
SUDOKU.LIB
TASM
TASM.EXE
*.EXE
tasml.bat
TDHELP.TDH
desktop.ini
